
<div>
    <form method="POST" action="/me/courses/{{course._id}}?_method=PUT">
        <input type="text" name="name" value="{{course.name}}" id="name">
        <input type="text" name="img" value="{{course.img}}" id="img">
        <input type="text" name="price" value="{{course.price}}" id="price">
        <button type="submit">Sửa</button>
    </form>

</div>

