<footer>
    <div class="footer-container row">
        <div class="introduce-contact col-3">
            <div class="introduce">
                <h6>GEARTEAM Nơi đem đến cho bạn trải nghiệm</h6>
                <p>© 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ GearTeam</p>
            </div>
            <div class="contact">
                <h6>Liên Hệ Tổng Đài</h6>
                <p>19006587</p>
            </div>
        </div>
        <div class="location-buy col-3">
            <h6>Địa chỉ trụ sở chính:</h6>
            <p>Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p> 
            <h6> Văn phòng điều hành miền Bắc:</h6>   <p>Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội</p> 
            <h6>Văn phòng điều hành miền Nam:</h6> 
            <p>Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan, Phường Võ Thị Sáu, Quận 3, TP. Hồ Chí Minh</p> 
        </div>
        <div class="certification">
            <img src="https://shopfront-cdn.tekoapis.com/common/da-dang-ky.png" alt="">
            <img src="https://images.dmca.com/Badges/dmca-badge-w100-2x1-02.png?ID=53b44883-ed2a-434d-902b-5adce10aafd5" alt="">
        </div>
    </div>
</footer>