<header>
            <div class="header-menu">
                <div class="logo-main">
                    <img src="/img/logo3.png" alt="" class="img-logo">
                </div>
                
                <div id="search-menu">
                    <form action="" class="search-form">
                        <input type="text" placeholder="tìm kiếm">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="navbar-menu">
                    <ul class="navbar-list">
                        <li class="nav-item">
                            <a href="" class="link-nav-list">
                                <i class="fa-solid fa-bell"></i><span>Thông báo</span> 
                            </a>                    
                        </li>
                        <li class="nav-item">
                            <a href="" class="link-nav-list">
                                <i class="fa-solid fa-earth-americas"></i>
                            <span>Ngôn ngữ</span> 
                        </a> </li>
                        <li class="nav-item"><a href="" class="link-nav-list">
                            <span>Tài khoản</span> 
                        </a> </li>
                        <li class="nav-item"><a href="" class="link-nav-list">
                            <i class="fa-solid fa-cart-shopping"></i><span>Giỏ hàng</span> 
                            </a> </li>
                    </ul>
                </div>
            </div>
            <div class="head-link">
                <div class="list-product">
                        <i class="fa-solid fa-bars"></i>
                        <span class="text-list">Danh sách mặt hàng</span>
                        <div class="navbar-menu-product">
                        <ul class="list-index-product">
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">Laptop Gaming</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Máy tính bộ</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Màn hình máy tính</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Linh kiện máy tính</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item-index">
                                <div class="arrow-right"></div>
                                <i class="fa-solid fa-laptop margin-right-5"></i>
                                <span class="item-index-text">PC - Phụ kiện</span>
                                <div class="i-menucontent">
                                    <ul class="row">
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Dell</h3>
                                            <a href="">Dell Gaming G</a>
                                            <a href="">Alienware</a>
                    
                                        </li>
                                        <li class="col-5">
                                            <h3>Gigabyte</h3>
                                            <a href="">G5</a>
                                            <a href="">Aorus</a>
                                            <a href="">Aero</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                        <li class="col-5">
                                            <h3>Acer</h3>
                                            <a href="">Nitro</a>
                                            <a href="">Aspire</a>
                                            <a href="">Predator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                         </div>
                </div>
                
                <ul class="head-link__list row">
                    <li class="head-link__item col-4">
                        <button>
                            <i class="fa-solid fa-money-check-dollar"></i>
                            HƯỚNG DẪN THANH TOÁN
                        </button>
                    </li>
                    <li class="head-link__item col-4">
                        <button>
                            <i class="fa-solid fa-money-check-dollar-pen"></i>
                            HƯỚNG DẪN TRẢ GÓP
                        </button>
                    </li>
                    <li class="head-link__item col-4">
                        <button>
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            CHÍNH SÁCH BẢO HÀNH
                        </button>
                    </li>
                    <li class="head-link__item col-4">
                        <button>
                            <i class="fa-solid fa-car"></i>
                            CHÍNH SÁCH VẬN CHUYỂN
                        </button>
                    </li>
                </ul>
            </div>
        </header>