<div class="order">

    <div class="header-order">
            <div class="h-order-img">
                
                <img src={{img}} alt="">
                
            </div>
            <div class="h-order-title">
               
                <div class="order-title-name"><h1>{{name}}</h1></div>
                <div class="order-title-price"> <h2>{{price}}</h2></div>
                
                <button class="btn-order">Đặt hàng</button>
                <button class="btn-order">Thêm vào giỏ</button>
            </div>

    </div>
    <div class="body-order">
                <h1>Đánh giá chi tiết về</h1>
                <p>Đầu tư vào một bộ PC đúng cách luôn là vấn đề nan giải đối với dân công nghệ nói chung và game thủ nói riêng. Bởi vì nếu không tìm hiểu hoặc được tư vấn kỹ lưỡng, các bạn sẽ rất dễ bỏ tiền ra mua những linh kiện không thật sự phù hợp với nhu cầu sử dụng, hoặc thậm chí máy tính không hoạt động tốt như mong muốn so với số tiền bỏ ra.
            Hiểu được điều đó, GEARVN chúng tôi đã tạo ra sẵn rất nhiều bộ PC khác nhau dành cho từng phân khúc người dùng với từng mức tiền khác nhau để bạn có thể thoải mái và dễ dàng lựa chọn một bộ PC phù hợp với mình mà không sợ lựa chọn sai hoặc đầu tư phí tiền. Bộ PC gaming lần này mà GEARVN muốn giới thiệu tới các bạn có tên là GVN Minion i380, nhằm hướng tới phân khúc người dùng phổ thông nhưng vẫn đảm bảo hiệu năng tốt.</p>
    </div>
</div>